@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --AmareloSol: #d1d119;
    --Capuccino: #5E3D19;
    --CinzaAnemico: #EDEDED;
    
    --MarginUniversal: 10px;
    --PaddingUniversal: 20px;
    --RadiusUniversal: 10px;
    --RadiusPrincipal: 45px;
    
    --H1: 3rem;
    --H2: 1.8rem;
    --p: 1.4rem;
}

body {
    background-color: var(--AmareloSol);
    overflow-x: hidden;
    line-height: 1.5;
    font-family: 'Chau Philomene One', Arial, Helvetica, sans-serif;
    font-size: var(--p);
}

header {
    display: flex;
    flex-direction: column;
    background: var(--AmareloSol) url('imagens/background.webp') center/cover no-repeat;
    background-attachment: fixed;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

header h1 {
    font-size: var(--H1);
    text-transform: uppercase;
    color: var(--CinzaAnemico);
    margin: var(--MarginUniversal);
}

header p {
    font-size: var(--p);
    margin: var(--MarginUniversal);
    color: var(--AmareloSol);
}

#bloco-de-titulo {
    background-color: var(--Capuccino); 
    backdrop-filter: blur(10px);               
    -webkit-backdrop-filter: blur(10px);       
    border-radius: var(--RadiusPrincipal);                       
    border: 1px solid var(--Capuccino);  
    padding: var(--PaddingUniversal);
    margin: var(--MarginUniversal) auto;
}

#bloco-de-titulo img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
}

.destaque {
    color: var(--AmareloSol);
}

section {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;      
    height: 100vh; 
    gap: 5%; 
}

#bem-vindo {
    background-color: var(--AmareloSol);
}

#bem-vindo img {
    width: 100%;
    height: auto;
    max-height: 400px;       
    object-fit: contain;  
    margin: var(--MarginUniversal);
}

#apresentacao {
    color: var(--CinzaAnemico);
    background-color: var(--Capuccino);
    text-align: justify;
    max-width: 500px;
    border-radius: var(--RadiusPrincipal);
    margin: var(--MarginUniversal);
    padding: var(--PaddingUniversal); 
}

.coluna-esquerda {
    flex-basis: 50%;
}

.coluna-direita {
    flex-basis: 50%; 
}

#contato .coluna-esquerda,
#contato .coluna-direita {
    flex-basis: 45%;       
    text-align: center;
}

#contato {
    display: flex;
    flex-wrap: wrap;
    padding: var(--PaddingUniversal);
    background-color: var(--Capuccino);
}

#contato img {
    width: 100%;
    height: auto;
    max-height: 400px;       
    object-fit: contain;  
}

#contato h2 {
    color: var(--AmareloSol);
    margin: var(--MarginUniversal);
    font-size: var(--H2);
}

#contato li{
    color: var(--CinzaAnemico);
}

#contato a {
    display: inline-block;
    color: var(--AmareloSol);
    text-decoration: none;
    transition: color 300ms ease;
    will-change: transform;
}

#contato a:hover {
    color: var(--CinzaAnemico);
    transform: scale(1.1);
}

#contato ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    transition: transform 300ms ease;
}

.redes {
    display: flex;          
    gap: 20px;
    justify-content: center;
}

#menu {
    background-color: var(--AmareloSol);
}

#menu ol, #menu li, #menu a {
    list-style-type: square;
    text-decoration: none;
    color: var(--AmareloSol);
}

#menu a:hover {
    color: var(--CinzaAnemico);
}

#blocomenu {
    background-color: var(--Capuccino);
    border-radius: var(--RadiusPrincipal);
    padding: 40px;
}

#receita img {
    max-width: 100%
}

#receitas {
    background-color: var(--Capuccino);
    align-items: center;
    position: relative;
}

.ing {
    position: absolute;
    top: 10px;
    left: 20px; 
    z-index: 10;
}

#receita ul {
list-style-type: none;
}

#blocoreceita {    
    color: var(--CinzaAnemico);
    border-radius: var(--RadiusUniversal);
    list-style-type: none;
    max-width: 600px;
    padding: 10px;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 600px;
    margin: 20px;       
}

.galeria img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: var(--RadiusUniversal);
    display: block;
}

.label {
    display: inline-block;
    color: var(--Capuccino);
    background-color: var(--CinzaAnemico);
    text-decoration: none;
    padding: var(--PaddingUniversal);
    border-radius: var(--RadiusUniversal);
    transition: background-color 0.3s ease;
}

/* Seção de Preparo */
#titulo-receita {
    background-color: var(--CinzaAnemico);
    color: var(--Capuccino);
    padding: var(--PaddingUniversal);
    border-radius: var(--RadiusUniversal);
    position: absolute;
    top: 10px;
    right: 20px; 
    font-size: var(--H2);
    z-index: 10;
}

#preparo {
    position: relative;
    color: var(--CinzaAnemico);
    padding: var(--PaddingUniversal);
    border-radius: var(--RadiusUniversal);
    margin: 0 auto;
}

#ingredientes, #mododepreparo {
    background-color: var(--Capuccino);
    padding: var(--PaddingUniversal);
    padding-left: 30px;
    border-radius: var(--RadiusUniversal);
}

@media (max-width: 768px) {
    section {
        flex-direction: column;
        height: auto;
        padding: 20px; 
    }

    #bloco-de-titulo {
        margin: var(--MarginUniversal);
    }

    #menu {
        height: 100vh;
    }

    #bem-vindo img {
        margin: var(--MarginUniversal) auto;
    }

    header {
        background-attachment: scroll;
    }

    .coluna-esquerda, .coluna-direita {
        flex-basis: 100%; 
    }

    #contato {
        flex-direction: column; 
        gap: 20px;
        padding: 20px;
    }

    #contato img {
        max-width: 80%;       
        margin: 0 auto;     
    } 

    #preparo {
        padding: 10px;
    }

    #receita {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap; 
    }

    #blocoreceita {
        font-size: var(--H2);
        text-align: center;
        margin-bottom: var(--MarginUniversal);
    }

    #titulo-receita {
        position: static;
        margin-bottom: var(--MarginUniversal);
        text-align: center;
    }

    .ing {
        position: static;
        font-size: var(--H2);
        text-align: center;
        margin-bottom: var(--MarginUniversal);
    }

    #mododepreparo {
        margin-top: var(--MarginUniversal);
    }
}
