@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --Amarelo: #FFFE3B;
    --AzulEscuro: #01337D;
    --AzulClaro: #19A5FF;
    --BrancoAzulado: #DCEAFF;
    --BrancoLeve: #EDEDED;

    --EspaçamentoTexto: 10px;

    --H1: 3rem;
    --H2: 1.6rem;
    --p: 1.25rem;
}

body {
    background: var(--Amarelo) url(Imagens/FundoPrincipal.png) center/cover no-repeat;
    height: 100vh;
    font-family: 'Special Elite', Arial, Helvetica, sans-serif;
    line-height: 1.5;
}


header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

header h1 {
    font: bold 3rem 'Special Elite';
    text-align: center;
    text-transform: uppercase;
    color: var(--BrancoLeve);
}

header h1, header p {
    margin: var(--EspaçamentoTexto);
}

.destaque, ul, p {
    color: var(--Amarelo);
}

li {
    color: var(--BrancoAzulado);

}
section {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 100vh;
}

.apresentação {
    text-align: left;
    color: var(--AzulClaro);
    padding: var(--EspaçamentoTexto);
    max-width: 500px;
}

.box {
    flex: 1;
    text-align: center;
}

section {
    display: flex;
    justify-content: center; /* Centraliza as colunas */
    align-items: center; /* Alinha verticalmente */
    height: 100vh; /* Ocupa a altura total da tela */
    gap: 5%; /* Adiciona um espaço entre as colunas */
}

.coluna-esquerda {
    flex-basis: 45%; /* A coluna da imagem ocupa 45% do espaço */
    text-align: center;
}

.coluna-direita {
    display: flex;
    flex-direction: column; /* Organiza o h2 e o p um abaixo do outro */
    justify-content: center;
    flex-basis: 50%; /* A coluna de texto ocupa 50% do espaço */
}

.apresentação {
    text-align: left;
    color: var(--AzulClaro);
}


section img {
    max-width: 100%;
    padding-left: 20px;
}

#contato {
    background-color: var(--AzulClaro);
}

#menu {
    background-color: var(--AzulEscuro);
}
/*
h1: 3rem
h2: 1.6 rem
p: 1.25rem
*/
