@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --AmareloSol: #d1d119;
    --CafeExpresso: #26120B;
    --Capuccino: rgb(94, 61, 25);
    --CinzaAnemico: #EDEDED;
    
    --EspaçamentoTexto: 10px;
    
    --H1: 3rem;
    --H2: 1.8rem;
    --p: 1.4rem;
}

body {
    background-color: var(--AmareloSol);
    overflow-x: hidden;
    line-height: 1.5;
    font-family: 'Chau Philomene One', Arial, Helvetica, sans-serif;
    font-size: var(--p);
}

header {
    background: var(--AmareloSol) url('imagens/background.webp') center/cover no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

header h1 {
    font-size: var(--H1);
    text-transform: uppercase;
    color: var(--CinzaAnemico);
    margin: var(--EspaçamentoTexto);
}

header p {
    font-size: var(--p);
    margin: var(--EspaçamentoTexto);
    color: var(--AmareloSol);
}

#blocoinicial {
    background-color: rgb(94, 61, 25); 
    backdrop-filter: blur(5px);               
    -webkit-backdrop-filter: blur(10px);       
    border-radius:45px;                       
    border: 1px solid rgb(94, 61, 25);  
    padding: 20px;
    margin: 30%;
}

#blocoinicial img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
}

.destaque {
    color: var(--AmareloSol);
}

section {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100vw;      
    height: 100vh; 
    gap: 5%; 
}

#bem-vindo {
    background-color: var(--AmareloSol);
}

#bem-vindo img {
    max-width: 100%;
    margin: 10px;
}

.boas-vindas {
    flex: 1;
    text-align: justify;
    max-width: 400px;
    margin: var(--EspaçamentoTexto);
}

.coluna-esquerda {
    flex-basis: 50%;
    text-align: center;
}

.coluna-direita {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    flex-basis: 50%; 
}

#contato .coluna-esquerda,
#contato .coluna-direita {
    flex-basis: 45%;       
    text-align: center;
}

#contato {
    display: flex;
    flex-wrap: wrap;     
    height: 100vh;     
    align-items: center;  
    padding: 40px 20px;
    background-color: var(--Capuccino);
}

#contato img {
    width: 100%;
    height: 400px;       
    object-fit: contain;  
}

#contato h2 {
    color: var(--AmareloSol);
    margin: var(--EspaçamentoTexto);
    font-size: var(--H2);
}

#contato li, #contato a {
    color: var(--AmareloSol);
    text-decoration: none;
}

#contato ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

.redes {
    display: flex;          
    gap: 15px; 
    justify-content: center;
}

#menu {
    width: 100vw;      
    height: 100vh;  
    display: flex;  
    background-color: var(--CafeExpresso);
}

#menu ol, #menu li, #menu a {
    list-style-type: square;
    text-decoration: none;
    color: var(--AmareloSol);
}

#blocomenu {
    border: var(--CinzaAnemico) 3px solid;
    padding: 40px;
}

#receita img {
    max-width: 100%
}

#receita {
    align-items: center;
    background-color: var(--AmareloSol);
    margin: var(--EspaçamentoTexto);
    position: relative;
}

#blocoreceita {
    background-color: var(--CafeExpresso);
    color: var(--CinzaAnemico);
    border-radius: 10px;
    list-style-type: none;
    max-width: 600px;
    padding: 10px;
    margin: auto;
    box-sizing: border-box;
}

.galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    max-width: 600px;
    margin: 20px;       
}

.galeria img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

.botao {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--CinzaAnemico);
    color: var(--CafeExpresso);
    text-decoration: none;
    border-radius: 10px;
    border: var(--CafeExpresso) 3px solid;
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: var(--AmareloSol);
    color: var(--CafeExpresso);
}

.botao.ing:hover {
    background-color: var(--AmareloSol); 
    color: var(--CafeExpresso);
}

#titulo-receita {
    color: var(--CinzaAnemico);
    position: absolute;
    top: 10px;
    right: 20px; 
    font-size: var(--H2);
    z-index: 10;
}

.ing {
    position: absolute;
    top: 10px;
    left: 20px; 
    z-index: 10;
}

#preparo {
    position: relative;
    background-color: var(--CafeExpresso);
    color: var(--CinzaAnemico);
    padding: 20px;
    border: 3px solid;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
}

#ingredientes, #mododepreparo {
    padding: 10px;
    border: 3px solid var(--CinzaAnemico);
    margin-bottom: 20px; 
    padding-left: 30px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    section {
        flex-direction: column;
        height: auto; 
        padding: 20px; 
    }

    header {
        background-attachment: scroll;
    }

    .coluna-esquerda, .coluna-direita {
        flex-basis: 100%; 
    }

    #contato {
        flex-direction: column; 
        gap: 20px;
        padding: 20px;
    }

    #contato img {
        max-width: 80%;       
        margin: 0 auto;     
} 

    #preparo {
        padding: 10px;
    }

    #receita {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap; 
    }

    #blocoreceita {
        position: static;
        font-size: var(--H2);
        text-align: center;
        margin-bottom: var(--EspaçamentoTexto);
    }

    #titulo-receita, .ing {
        position: relative;
        text-align: center;
        margin-bottom: 10px;
    }

    .ing {
        position: static;
        font-size: var(--H2);
        text-align: center;
        margin-bottom: var(--EspaçamentoTexto);
    }

    #mododepreparo {
        position: static;
        border: var(--CinzaAnemico) 3px solid;
        margin-top: var(--EspaçamentoTexto);
    }
}
